<div class="wrap" style="width: 100%;">
  <h1 class="mt-4 text-center fw-bold p-2 title">JOJOWi</h1>
  <h2 class="text-center title-p fw-light">Simple JoJo's Bizarre Adventure Stands and Character Encyclopedia</h2>
  <div class="img-container" style="display: flex; flex-direction: column; align-items: center; justify-content:    center;">
    <img src="/img/755394.jpg" class="w-75 mt-2 object-fit-cover" alt="">
  </div>

  <div class="about-container p-2">
    <h2 class="mt-5 about-us" style="color: indigo;">About Us</h2>
    <p class="mt-2 about-us-p">JOJOWi stands for JoJo Wiki, at JOJOWi, i dedicated to providing you profile of stands and character in JoJo's Bizarre Adventure (JJBA). Whether you're a long-time fan or just starting to explore the world of JoJo, you'll find everything you need to know right here.</p>
  </div>

  <div class="about-container p-2">
    <h2 class= "mt-5 about-us" style="color: indigo;">Characters</h2>
    <div class="row">
      <% charactersData.forEach(data => { %>
      <div class="col-md-4 col-12 mt-4">
          <div class="card">
              <img src="https://jojos-bizarre-api.netlify.app/assets/<%= data.image %>" class="pt-2 card-img-top m-auto" style="width: 200px; height: 200px; float: left; object-fit: contain;" alt="Image 1">
              <div class="card-body">
              <h5 class="card-title"><a class="text-decoration-none name" href="/char/<%= data.id %>"><%= data.name %></a></h5>
              <p class="card-text"><%= data.chapter %></p>
            </div>
          </div>
        </div>
        <% }) %>
        <a href="/char" class="text-center mt-4"><button class="button btn" type="submit">See More</button></a>
    </div>  
  </div>


  <div class="about-container p-2">
    <h2 class= "mt-5 about-us" style="color: indigo;">Stands</h2>
    <div class="row">
      <% standsData.forEach(data => { %>
      <div class="col-md-4 col-12 mt-4">
          <div class="card">
              <img src="https://jojos-bizarre-api.netlify.app/assets/<%= data.image %>" class="pt-2 card-img-top m-auto" style="width: 200px; height: 200px; float: left; object-fit: contain;" alt="Image 1">
              <div class="card-body">
              <h5 class="card-title"><a class="text-decoration-none name" href="/stand/<%= data.id %>"><%= data.name %></a></h5>
              <p class="card-text"><%= data.chapter %></p>
            </div>
          </div>
        </div>
        <% }) %>
        <a href="/stands" class="text-center mt-4"><button class="button btn" type="submit">See More</button></a>
    </div>  
  </div>


  
  




</div>